<div class="page-header">
	<h1>Metrics</h1>
</div>

<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Logins<br />&nbsp;</h3>
			</div>
			<div class="panel-body logins">
				<h3>{{ logins | number }}</h3>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Minisite visits<br />&nbsp;</h3>
			</div>
			<div class="panel-body logins">
				<h3>{{ visits }}</h3>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Zalando:<br />male visits</h3>
			</div>
			<div class="panel-body logins">
				<h3>{{ zalando_visits_male | number }}</h3>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Zalando:<br />female visits</h3>
			</div>
			<div class="panel-body logins">
				<h3>{{ zalando_visits_female | number }}</h3>
			</div>
		</div>
	</div>

	<!-- <div class="col-sm-3">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Sales</h3>
			</div>
			<div class="panel-body logins">
				<h3>{{ sales | currency }}</h3>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">New Conversations</h3>
			</div>
			<div class="panel-body logins">
				<h3>{{ conversations | number }}</h3>
			</div>
		</div>
	</div> -->
</div>